/* ========================FONTS========================= */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;500;700;800;900&family=Lilita+One&display=swap');

/* ========================ETIQUETAS========================= */
body {
    font-family: 'Chivo', sans-serif;
    background-color: rgb(28, 29, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

header h1 {
    font-family: 'Lilita One', cursive;
    font-size: 4rem;
    color: rgb(253, 255, 241);
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 2rem;
}

section#ruleta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(148, 98, 162);
    justify-content: space-between; /* Distribuir los elementos, NO MOVER*/
}

section#ruleta p {
    color: rgb(253, 255, 241);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    white-space: pre-line; /* Permite saltos de línea con \n , escencial para el diseño asjjs*/
}


section#ruleta button#girar {
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    background-color: rgb(151, 62, 176);
    border-radius: 1rem;
}

section#ruleta button#girar:hover {
    background-color: rgb(65, 22, 77);
}

section#player1, section#player2 {
    flex-grow: 1;
    margin: 0 1rem;
    background-color: rgb(253, 255, 241);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#player1 h2, section#player2 h2,
section#player1 h3, section#player2 h3,
section#player1 p, section#player2 p {
    margin: 0.5rem 0;
}

/* ========================POPUP========================= */
.popup {
    position: fixed;
    width: 60%;
    max-width: 600px;
    padding: 2rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup button {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(151, 62, 176);
    border: none;
    border-radius: 1rem;
    color: white;
}

.popup button:hover {
    background-color: rgb(65, 22, 77);
}
